@import "variables";

@keyframes writer {
  from {
    width: 0ch;
  }

  to {
    width: 15ch;
  }
}

.header {
  width: 100%;
  background: linear-gradient(-140deg, #363c45 40%, #222831 60%);
  height: 100vh;
  overflow: hidden;

  .centerContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;

    .textContainer {
      @include interBold;
      text-transform: uppercase;
      color: $blanco;
      font-size: 3em;
      position: absolute;
      bottom: 0;
      top: -10vh;
      right: 0;
      left: 0;
      margin: auto;
      height: 70vh;
      width: 90%;
      z-index: 100;

      .nameContainer {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;

        .blue {
          color: $azul;
        }
      }

      .titleAnimacion {
        height: 100%;
        overflow: hidden;
        width: 15ch;
        position: relative;
        animation: writer 3s;
        -webkit-animation: writer 3s;

        .title {
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: right;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;

      .blob {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        position: absolute;
        top: -15vh;
      }

      .logoImg {
        margin-top: -18.598vh;
        width: 24.8902vw;
        height: 42.9185vh;
      }
    }
  }
}
