@import "variables";

.redes__container {
  display: flex;
  flex-direction: column;
  z-index: 50;
  position: fixed;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

  .redes__link {
    margin: 2px;

    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  .redes__container {
    display: none;
  }
}
