@import "variables";

.skillsContainer {
  background: $negro3;
  z-index: 1;

  .background {
    margin-top: 10vh;
    position: relative;
    z-index: 1;
    margin: -0.3px;

    .title {
      color: $blanco;
      font-size: 6rem;
      position: absolute;
      right: 1%;
      top: 0;
      text-transform: uppercase;
      @include interBold;
      z-index: -1;

      &::after {
        content: "S";
        color: $blanco;
        padding: 5px;
        animation: terminal 1s infinite;
        -webkit-animation: terminal 1s infinite;
      }
    }

    .wave {
      z-index: 20;
    }

    .skills {
      height: 80vh;
      width: 100%;
      background: $azul;
      display: flex;
      justify-content: center;
      align-items: start;
      margin-top: -4px;

      .iconGridContainer {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px 5px;
      }
    }
  }
}

@keyframes terminal {
  from {
    background: transparent;
  }
  to {
    background: $amarillo;
  }
}
